//COLORS

$dark-blue: #3c5aa6;
$light-blue: #2a75bb;
$yellow: #ffcb05;
$dark-yellow: #c7a008;

$white: #ebebeb;
$pure-white: #fff;

$black: #0e1111;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;

$gray: #777;

$gray-dark-1: #999;
$gray-dark-2: #333;

//CARD BACKGROUND COLORS

$green: #99d98c;
$dark-green: #76c893;

$red: #ff4747;
$dark-red: #c9030a;

$blue: #1cadd9;
$dark-blue-card: #1f8ec1;

$yell: #ffd15c;
$dark-yell: #fcc55f;

$purple: #b379f6;
$dark-purple: #9b15f4;

$brown: #c38e6f;
$dark-brown: #bd764c;

$dark: #6c757d;
$dark-dark: #495057;

$gray: #dee2e6;
$dark-gray: #adb5bd;

$gold: #c4a36e;
$dark-gold: #b89151;

//FONTS

$title: 'Miltonian Tattoo';
$default: 'Lato', sans-serif;
