//COLORS

$dark-blue: #3c5aa6;
$light-blue: #2a75bb;
$yellow: #ffcb05;
$dark-yellow: #c7a008;

$white: #ebebeb;
$pure-white: #fff;

$black: #0e1111;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;

$gray: #777;

$gray-dark-1: #999;
$gray-dark-2: #333;
