.footer {
  height: 10rem;
  background-color: blue;
  display: flex;
  justify-content: space-around;

  &__btn {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    overflow: hidden;
    color: white;
    background-color: red;
  }

  &__btn-img {
    width: auto;
    height: 110%;
    margin-left: -10px;
    margin-top: -3px;
  }
}
