.btn {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background-color: $red;

  &__text {
    z-index: 100;
    color: $black;
    font-size: 2rem;
    @include absCenter;
  }
}
