.card {
  height: 30rem;
  width: 30rem;
  background-color: $dark-blue;
  margin: 2rem;
  border-radius: 1rem;

  &__title {
    color: $white;
    font-size: 4rem;
  }

  &__img {
    height: 25rem;
    width: 25rem;
  }
}
