*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // defines what 1rem is
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(
      to right bottom,
      rgba($gray-light-1, 0.8),
      rgba($gray-light-2, 0.8)
    ),
    url(./images/palm-leaf.png);
}
