*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

.card {
  height: 30rem;
  width: 30rem;
  background-color: #3c5aa6;
  margin: 2rem;
  border-radius: 1rem; }
  .card__title {
    color: #ebebeb;
    font-size: 4rem; }
  .card__img {
    height: 25rem;
    width: 25rem; }

.cards {
  display: flex; }
