*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

.card {
  height: 30rem;
  background-color: #3c5aa6;
  margin: 2rem;
  border-radius: 1rem;
  flex: 0 0 24%;
  transition: all 0.2s; }
  .card__title {
    color: #ebebeb;
    font-size: 4rem; }
  .card__img {
    height: 25rem;
    width: 25rem; }
  .card:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.6);
    cursor: pointer; }
  .card:active, .card:focus {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(14, 17, 17, 0.35); }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-width: 90vh; }
